"""
THIS IS AN EXAMPLE OF secret.py IT SHOULD BE EDITED
TO INCLUDE THE CORRECT PASSWORD.

This is a script that stores the password for the
RT user. The script should just contain one line:
USER_PASSWORD = "<the password for the RT user>"

Note that the password should be in quotes (it is 
a python string)

It should be saved as `secret.py` so that it can
be imported by autoChecksum.py

"""
USER_PASSWORD = "EXAMPLE_PASSWORD"
